# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage reports
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Environment variables
.env
storage

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log